USER=[EMAIL]            # Email al que deben ser enviados los correos
PASS=[PASSWORD_EMAIL]   # Contraseña del correo al que deben ser enviados los correos, en caso de poseer
                        # verificación de 2 pasos, se debe crear una contraseña para aplicaciónes desde
                        # opciones de la cuenta de google